doctype html
html(lang="en", ng-app="app")
  head
    title TWG Frontend Scaffolding
    link(rel="stylesheet", type="text/css", href="scaffolding.css")
    style(type="text/css").
      body{
        padding: 20px;
      }
      .block{
        background: #ccc;
        padding: 20px;
        margin-bottom: 20px
      }
  body
    .stickyWrapper

      .stickyBody

        .block.u-hide hide
        .block.u-hide--palm hide--palm
        .block.u-hide--lap hide--lap
        .block.u-hide--desk hide--desk
        .block.u-show show
        .block.u-show--palm show--palm
        .block.u-show--lap show--lap
        .block.u-show--desk show--desk

        each val in ['grid grid--wide', 'grid', 'grid grid--narrow', 'grid grid--full']
          div(class="#{val}")
            .grid-1of2
              .block= val
            .grid-1of2
              .block= val

        each val in ['combo combo--wide', 'combo', 'combo combo--narrow', 'combo combo--full']
          div(class="#{val}")
            .combo-first
              .block= val
            .combo-last
              .block= val

      .stickyFooter sticky footer
