doctype html
html(lang="en", ng-app="app")
  head
    title TWG Frontend Scaffolding
    link(rel="stylesheet", type="text/css", href="scaffolding.css")
    style(type="text/css").
      body{
        padding: 20px;
      }
      .block{
        background: #ccc;
        padding: 20px;
        margin-bottom: 20px
      }
  body
    .siteWrapper

      .siteBody

        each val in ['grid grid--wide', 'grid', 'grid grid--narrow', 'grid grid--full']
          div(class="#{val}")
            .grid-1of2
              .block= val
            .grid-1of2
              .block= val

        each val in ['combo combo--wide', 'combo', 'combo combo--narrow', 'combo combo--full']
          div(class="#{val}")
            .combo-first
              .block= val
            .combo-last
              .block= val

      .siteFooter sticky footer
